td {
    width: 14%;
    height: 3em;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 3em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    width: 100%;
}

.oddMonth {
    background-color: #eeeeee;
}

.today {
    border: 5px solid #007fff;
    color: #007fff;
    font-weight: bolder;
}

.note {
    background-color: #ffff00;
}

.warn {
    background-color: #ffa500;
}

.crit {
    background-color: #ff0000;
}