extends ../layouts/home

block content
    h1 Create Account
    form(method="post")
        label email
            input(type="text",name="email")
        br
        label password
            input(type="password",name="password")
        br
        input(type="submit")